.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.action-buttons form,
.action-buttons a {
  display: block;
  text-align: center;
  width: 100%;
}

.action-buttons select,
.action-buttons button,
.action-buttons a {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #eff4f5;
  background-color: #6db8b8;
  cursor: pointer;
}

.action-buttons .btn-complete {
  background-color: #4f67b7;
  color: rgb(238, 243, 246);
  border: none;
}

.action-buttons .btn-delete {
  background-color: #dc3545;
  color: rgb(244, 247, 248);
  border: none;
}
